<div class="container allcomp">
    <% layout("layouts/boilerplate.ejs") -%>
    <div class="dropdown dd">
        <form action="/complaints">
            <label for="filter" style="margin-right: 20px;"><h3>Look for complaints from</h3></label>
            <br>
            <label for="sort" ><h5>Sort:</h5></label>
            <select id="filter" name="filter">
              <option value="All" <%= filter === "All" ? "selected" : "" %>>All</option>
              <option value="Trikuta Hostel" <%= filter === "Trikuta Hostel" ? "selected" : "" %>>Trikuta Hostel</option>
              <option value="Vindhyanchal Hostel" <%= filter === "Vindhyanchal Hostel" ? "selected" : "" %>>Vindhyanchal Hostel</option>
              <option value="Kailash Hostel" <%= filter === "Kailash Hostel" ? "selected" : "" %>>Kailash Hostel</option>
              <option value="Nilgiri Hostel" <%= filter === "Nilgiri Hostel" ? "selected" : "" %>>Nilgiri Hostel</option>
              <option value="Shivalik Hostel" <%= filter === "Shivalik Hostel" ? "selected" : "" %>>Shivalik Hostel</option>
              <option value="Vaishnavi Hostel" <%= filter === "Vaishnavi Hostel" ? "selected" : "" %>>Vaishnavi Hostel</option>
              <option value="Basholi Hostel" <%= filter === "Basholi Hostel" ? "selected" : "" %>>Basholi Hostel</option>
            </select>
            <!-- <label for="sort" >Sort:</label> -->
            <select id="sort" name="sort">
              <option value="Highest" <%= sort === "Highest" ? "selected" : "" %> >Highest Score</option>
              <option value="Lowest" <%= sort === "Lowest" ? "selected" : "" %>>Lowest Score</option>
              <option value="Newest" <%= sort === "Newest" ? "selected" : "" %>>Newest First</option>
              <option value="Oldest" <%= sort === "Oldest" ? "selected" : "" %>>Oldest First</option>
            </select>
            <button class="btn btn-success filter-button" style="margin-left:0.8rem;">Apply Filters</button>
          </form>
      </div>
      <div class="dropdown dd">
        <form action="/complaints">
            
      </div>
        <div class="cpv">
            <% for (let complaint of complaints) { %>
                <div class="card mb-3 comp">
                    <a href="complaints/<%= complaint._id %>" class="link">
                        <div class="row">
                            <div class="card-ti">
                                <p>Uploaded by :<%= complaint.user.username%>
                                </p>
                                <h4 class="card-title">
                                    <%= complaint.title %>
                                        <p style="opacity:0.8;font-size:0.9rem;padding-top:0.6rem;padding-left:1.3rem">
                                            <%= complaint.description.substring(0,30)%>...
                                        </p>
                                </h4>
                            </div>
                            <% if(complaint.image.length> 0 ) { %>
                                <div class="col-md-12 card-img-top">
                                    <img src="<%= complaint.image[0].url %>" alt="" class="img-fluid complaint-image">
                                </div>
                                <% } %>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text" style="text-align:left;">
                                                <small class="text-muted">
                                                    <%= complaint.location %>
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
</div>
</div>