<div class="container allcomp">
    <% layout("layouts/boilerplate.ejs") -%>
    <div class="dropdown dd">
        <form >
            <label for="Hostel" style="margin-right: 20px;">Filter By Hostel Name:</label>
            <select id="hostels" name="hostel">
              <option value="All">All</option>
              <option value="Trikuta Hostel">Trikuta Hostel</option>
              <option value="Vindhyanchal Hostel">Vindhyanchal Hostel</option>
              <option value="Kailash Hostel">Kailash Hostel</option>
              <option value="Nilgiri Hostel">Nilgiri Hostel</option>
              <option value="Shivalik Hostel">Shivalik Hostel</option>
              <option value="Vaishnavi Hostel">Vaishnavi Hostel</option>
              <option value="Basholi Hostel">Basholi Hostel</option>
            </select>
            <button class="btn btn-info btn-sm filter-button" style="margin-left:0.8rem;">Filter</button>
          </form>
      </div>
        <div class="cpv">
            <% for (let complaint of complaints) { %>
                <div class="card mb-3 comp">
                    <a href="complaints/<%= complaint._id %>" class="link">
                        <div class="row">
                            <div class="card-ti">
                                <p>Uploaded by :<%= complaint.user.username%>
                                </p>
                                <h4 class="card-title">
                                    <%= complaint.title %>
                                        <p style="opacity:0.8;font-size:0.9rem;padding-top:0.6rem;padding-left:1.3rem">
                                            <%= complaint.description.substring(0,30)%>...
                                        </p>
                                </h4>
                            </div>
                            <% if(complaint.image.length> 0 ) { %>
                                <div class="col-md-12 card-img-top">
                                    <img src="<%= complaint.image[0].url %>" alt="" class="img-fluid complaint-image">
                                </div>
                                <% } %>
                                    <div class="col-md-8">
                                        <div class="card-body">
                                            <p class="card-text" style="text-align:right;">
                                                <small class="text-muted">
                                                    <%= complaint.location %>
                                                </small>
                                            </p>
                                        </div>
                                    </div>
                        </div>
                    </a>
                </div>
                <% } %>
        </div>
</div>
</div>